responsive-font(min, max)
  font-size "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)

responsive-line-height(min, max)
  line-height "calc(%sem + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)

responsive-margin-top(min, max)
  margin-top "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)

responsive-margin-bottom(min, max)
  margin-bottom "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)

responsive-margin-vertical(min, max)
  margin-top "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)
  margin-bottom "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)

responsive-margin-horizontal(min, max)
  margin-left "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)
  margin-right "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)
