.menu
  &--main
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: light;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 100vw;
    height: 100vh;

  &__pages
    font-family font-headings
    color green
    responsive-font(20, 40, 2em)
    responsive-letter-spacing(1, 5, 5px)
