.header
  margin-bottom 1.45rem
  border-bottom 24px solid green
  height 50vw
  min-height 200px
  max-height 680px
  position relative
  display flex
  flex-direction column

  @media (max-width: 700px)
    border-bottom-width 10px

  &__background
    position absolute
    left 0
    right 0
    bottom 0
    top 0

    &__left
    &__right
      position absolute
      background-image url(../images/triangle-left.svg)
      background-size contain
      background-repeat no-repeat
      background-position top left
      width 40%
      height 100%
      left 0
      z-index -1

    &__right
      background-image url(../images/triangle-right.svg)
      background-position top right
      left auto
      right 0

    &__bottom
      position absolute
      bottom 0
      width 100%
      height 80%
      background-image url(../images/triangle-bottom.svg)
      background-size contain
      background-position center bottom
      background-repeat no-repeat
      z-index -1

  &__container
    position absolute
    top 0
    left 0
    padding 5vw 5.5vw
    width calc(100% - 11vw)
    display flex
    justify-content space-between

  &__hero
    width 100%
    flex-grow 1
    align-self center
    display flex
    align-items center
    justify-content center

    &--post
      width 75%

    h1
    h2
      font-size 5rem
      responsive-font(20, 95)
      line-height 1.6em
      responsive-line-height(1.2, 1.6)
      text-align center
      color green
      letter-spacing 0.15em

      @media (max-width: 700px)
        margin-top: 10%

  &__logo
    display block
    margin 0

    a
      font-family font-secondary
      text-transform none
      padding 10px
      display inline-block
      responsive-font(14, 25)

  &__menu
    font-family font-secondary
    text-transform none
    padding 10px
    display block
    responsive-font(14, 25)
