body
  font-family font-body
  font-weight 400
  color dark
  responsive-line-height(1.8, 2)
  responsive-font(14, 18)

.main-container
  margin 0 auto
  max-width 780px
  padding 0 1.0875rem 1.45rem
  padding-top 0

footer
  color brown
  font-size 0.9rem
  margin-top 3rem
