@import url('https://fonts.googleapis.com/css?family=Domine:700|Literata:400,400i,700,700i|Open+Sans:800&display=swap')

strong, b
  font-weight 700

a
  color green
  text-decoration none
  position relative

  &:not(.link--plain)
    border-bottom 0.2em solid yellow
    transition 200ms ease-in-out border-bottom

    &:hover:after
      border-bottom none

  &.link
    font-size 1.1em

h1
h2
h3
h4
h5
  color dark
  font-family font-headings
  font-weight 800
  text-transform uppercase
  text-decoration none
  margin 0.5em 0

  &.link > a
    border-bottom none

    &:after
      content ''
      background-color yellow
      position absolute
      left 0
      right 0
      z-index -1
      transition 200ms ease-in-out bottom
      bottom 0.1em
      height 0.3em

    &:hover:after
      bottom -0.1em

p
  font-family font-body
  font-weight 400
  color dark
  responsive-font(14, 18, 1em)
  responsive-line-height(1.8, 5, 2em)
  responsive-margin-vertical(25, 35, 2em)

blockquote
  padding-left 20px
  border-left 8px solid brown

  p
    font-weight bold
    responsive-font(18, 22, 1em)
    responsive-line-height(1.8, 2.2, 2em)
    padding-top 7px
    padding-bottom 15px
